[Unit]
Description=Description for sample script goes here
After=network.target

[Service]
Type=simple
ExecStart=python3.7 /home/osmc/socket_io_api.py
TimeoutStartSec=0

[Install]
WantedBy=default.target
